<form action="/dates" method = "GET">
    <p>Name <input type = "text" name = "Name" required/></p> <!-- Required non va avanti finche non si fa una scelta o non si compila -->
    <p>Username <input type = "text" name = "User" required/></p>
    <p>Password <input type = "password" name = "Pass" required/></p>
    <p>Conferma password <input type = "password" name = "Conf" required/></p>

    <p>Sex <input type = "radio" name = "Sex" value="M" required/>M <input type = "radio" name = "Sex" value="F" required/>F </p>

    <p><input type = "submit" value = "Submit" /></p>
    <a href="/login"> <img src="/static/login.png" alt="log-in" width="200" height="125"></a>
</form>