<form action="/data" method = "GET">
    <p>Name <input type = "text" name = "Name" /></p> <!-- è una textbox --> 
    <p>Username <input type = "text" name = "Username" /></p> <!-- è una textbox -->
    <p>Password <input type = "password" name = "Password" /></p> <!-- è una textbox che permette di sostituire le lettere con dei puntini-->
    <p>Conferma Password <input type = "password" name = "Password2" /></p> <!-- è una textbox che permette di sostituire le lettere con dei puntini-->
    <p>Sex <input type = "radio" name = "Sex" value="M" />M <input type = "radio" name = "Sex" value="F" />F</p> <!-- è una radio botton -->
    
    
    
    <p><input type = "submit" value = "Submit" /></p>
</form>